
  
/* Reset default styles */
body, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, sans-serif;
}

body{
  background-image: url('https://wallpapercave.com/wp/wp1877585.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style the header */
h1 {
  text-align: center;
  color: #2e0202;
}
.name,
.emailid {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: black;
}

/* Style the navigation bar */
.nav {
  text-align: center;
  padding: 10px;
}

/* Style the navigation list */
.order {
 
  display: flex;
  justify-content: center;
}

.order li {
  background-color: rgb(138, 43, 105);
  width: 180px;
  height: 30px;
  margin: 10px 20px;
  cursor: pointer;
  padding-top: 8px;
  color: white;
}

.order li:hover {
  
  background-color: rgb(207, 195, 205);
  color: black;
}

/* Style the container */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}



input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #7e7b7b;
  border-radius: 5px;
  font-size: 12px;
}


/* Style the data displayed on click */
#data {
  margin-top: 20px;
   
  display: flex;
  text-align: center;
  align-content: center;
  align-items: center;
  }

#data ul {
  padding-left: 20px;
  text-align: center;
  align-content: center;
  align-items: center;
  width: 100%;
  background-color: beige;
}

#data ul li {
  margin: 5px 0;
  text-align: center;
  padding-left: 25px;
}


/* Style the button */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color:  rgb(138, 43, 105); 
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 500px;
}

/* Hover effect */
.btn:hover {
  background-color: rgb(207, 195, 205); 
  color: black;
}


